.back-to-top{
    display: none;
}


@media (max-width: 50rem) {

.back-to-top{
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: var(--pink);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    box-shadow: 0rem 0rem 0.625rem 0rem var(--pink);
}


    nav#navbar{
     width: 100%;
        padding-top: 50%;
        padding-bottom: 50%;
        margin: 0 auto;
        background-color: var(--black);
        height: 100vh;
        position: unset;
        text-align: center;
    }

    nav#navbar ul{
        margin-left: 0;
        flex-direction: column;
    }

p{
    font-size: 1rem;
}

h1{
    font-size: 3.75rem;
}

h2{
    font-size: 2.1875rem;
}

.text{
    width: 90%;
    margin: 0 auto;
}

.background{
    padding: 1.875rem 0rem 1.875rem 0rem;
    margin: 0.3125rem 1.25rem 0.3125rem 1.25rem;
    
}

.container{
    height: 100%;
    width: 100%;
    
}




/* Welcome page */

#welcome-page{
    min-height: 100%;
    margin-right: 1.25rem;
}

.container-welcome{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcome-text{
    width: 90%;
    margin: 0 auto;
}


.welcome-text p{
    width: 100%;
}

.welcome-img{
    width: 100%;
    height: auto;
    position: unset;
}


.welcome-img img{
    width: 95%;
    height: auto;
    transition: all 300ms ease-in-out;
}

.welcome-img img:hover{
    transform: none;
}


/* Work page */
#projects.text{
    margin: 0 auto;
}

.project-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    left: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.875rem;
    gap: 11.25rem;
}

.project-tile{
    width: 19.375rem;
    height: 13.125rem;
}


/* Contact */


.container-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contact-info{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5625rem;
}

    .contact-img img{
    width: 100%;
}


.social-network{
    margin: 0.625rem;
}

.contact-form{
    width: 100%;
    margin: 0.625rem 0rem 0.625rem 0rem;
}

footer{
    background-color: var(--black);
}

footer p{
    margin: 0;
}



} 
